<% layout('layout/boilerPlate') -%>

    <style>
        .container {
            padding: 5rem 0;
        }

        .card {
            color: #fff;
            border: 2px solid var(--black);
            border-radius: 10px;
            
        }
        .card-img-top{
            padding: 1rem;
        }

        .card-body {
            padding: 1rem;
        }

        .card-title {
            color: var(--red);
            font-size: 1.2rem;
        }

        .card-text {
            color: #fff;
        }

        .btn-primary {
            background-color: var(--red);
            color: #fff;
        }

        .btn-primary:hover {
            background-color: var(--red);
        }

        .text-secondary {
            color: grey;
        }
    </style>

    <section class="container">
        <% if(listings.length===0) { %>
            <h2>No Products Available</h2>
            <% } else { %>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2">
                    <% for(let listing of listings) { %>
                        <div class="col mb-3">
                            <div class="card ">

                                <a href="<%= listing.image %>" target="_blank"> 
                                    <img src="<%= listing.image %>" class="card-img-top mx-auto m-2" alt="image"
                                        style="height: 400px; object-fit: cover; width: 100%;">
                                </a>
                                <div class="card-body">
                                    <h6 class="card-title text-dark">
                                        <%=listing.name%>, In
                                    </h6>
                                    <p class="card-text text-secondary">
                                        <%=listing.description.substring(0,70) %>...
                                    </p>
                                    <p class="card-text">
                                        <b>&#8377;<%=listing.price %></b>
                                    </p>
                                </div>
                                <div class="d-flex">
                                    <% const secondsAgo=Math.floor((new Date() - new Date(listing.createdAt)) / 1000);
                                        %>
                                        <% const hoursAgo=Math.floor(secondsAgo / 3600); %>
                                            <% const minutesAgo=Math.floor(secondsAgo / 60); %>
                                                <h6 class="ms-3 text-dark">Posted on: &nbsp;
                                                    <% if (secondsAgo===0 || secondsAgo===1) { %>
                                                        <span class="text-secondary">
                                                            <%=secondsAgo%> second ago
                                                        </span>
                                                        <% } else if (secondsAgo < 60) { %>
                                                            <span class="text-secondary">
                                                                <%= secondsAgo %> seconds ago
                                                            </span>
                                                            <% } else if (minutesAgo===0 || minutesAgo===1) { %>
                                                                <span class="text-secondary">
                                                                    <%=minutesAgo%> minute ago
                                                                </span>
                                                                <% } else if (minutesAgo < 60) { %>
                                                                    <span class="text-secondary">
                                                                        <%= minutesAgo %> minutes ago
                                                                    </span>
                                                                    <% } else if (hoursAgo===0 || hoursAgo===1) { %>
                                                                        <span class="text-secondary">
                                                                            <%= hoursAgo %> hour ago
                                                                        </span>
                                                                        <% } else if (hoursAgo < 24) { %>
                                                                            <span class="text-secondary">
                                                                                <%= hoursAgo %> hours ago
                                                                            </span>
                                                                            <% } else { %>
                                                                                <span class="text-secondary">
                                                                                    <%= Math.floor(hoursAgo / 24) %>
                                                                                        days ago
                                                                                </span>
                                                                                <% } %>
                                                </h6>
                                </div>
                                <a href="/listing/<%=listing._id%>" class="btn btn-sm btn-primary m-2">View</a>
                            </div>
                        </div>
                        <% } %>
                </div>
                <% } %>
    </section>